

body.home {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 1200px;
    margin: 0;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/81VewqjS+vL._RI_.jpg")

}
/* div{
  height: 1200px;
  
  
  
  color: transparent;
  text-decoration: none;

}
a{
  text-decoration: none;
}


div:hover{
  position: absolute;
  display: flex;
  justify-content: center; 
  
}*/

.section1:hover{

    display: flex;
    justify-content: center;
    background-color:black;
    opacity: 0.8;
    align-items: flex-end;
    

}


.section2:hover{

  display: flex;
  justify-content: center;
  background-color:black;
  opacity: 0.8;
  align-items: flex-end;
  

}
.section3:hover{

  display: flex;
  justify-content: center;
  background-color: black;
  opacity: 0.8;
  align-items: flex-end;
  

}

 body.main {
  display: grid;
  grid-template-rows: 30% 10% 1fr;
  height: 100vh;
  margin: 0;
}
/*
header {
  background-image: url("https://i.imgur.com/1ChZ4jY.jpg");
  background-position: center;
  background-size: cover;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  vertical-align: middle;
  background-color: black;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  opacity: 0.7;
}

main {
  background-color: #CCCCCC;
}
 */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
} 